@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-anime-bg text-slate-100 font-sans;
    overflow-x: hidden;
  }
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #050810; 
}
::-webkit-scrollbar-thumb {
  background: #3b82f6; 
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: #f43f5e; 
}

/* Custom pagination */
.swiper-pagination-bullet {
  background: white !important;
}
